body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('https://cdn.pixabay.com/photo/2023/02/07/13/55/forest-7774205_1280.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    border-radius: 20px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.left-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background: linear-gradient(to bottom right,#EAEFF4 50%, transparent 50%);
    border-right: none;
    backdrop-filter: blur(20px);
}

.left-side img {
    width: 90%;
    max-width: 450px;
    height: auto;
    border-radius: 15px;
}

.right-side {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(30px);
}

.right-side h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #4E545C;
}

.input-field {
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: 3px solid #000401;
    border-radius: 50px;
}

.input-field input {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    background-color: transparent;
    color: #000401;
}

.input-field input::placeholder {
    color: #4E545C;
}

.input-field i {
    color: #8D9797;
}

.toggle-password {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    z-index: 2;
}

.toggle-password i {
    font-size: 1.25rem;
}

.login-btn {
    background: linear-gradient(135deg, #464033, #7E7C73);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    max-width: 250px;
    text-align: center;
    margin: 20px auto;
    margin-left: 90px;
    font-weight: bold;
}

.click-here, .sign-up {
    font-weight: bold;
    color: #7E7C73;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}
